#!/usr/bin/env bash
if [ -n "$DIRENV_DIFF" ]; then
  # Do not `set -e` unless we're being run from direnv
  set -e
fi

if [ ! -f venv-ansible-wireguard/bin/activate ]; then
	echo "Creating a virtual Python environment"
	uv -q venv --allow-existing --seed venv-ansible-wireguard
fi

echo "Activating the Python virtual environment"
. venv-ansible-wireguard/bin/activate

echo "Installing Python requirements"
uv -q pip install -r requirements.txt

export GITHUB_ACTIONS=maybe
export ANSIBLE_HASH_BEHAVIOUR=merge
